@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900");
/*==========================================================
  BODY 
=========================================================*/
body {
  margin: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif; }

html, body {
  overflow-x: hidden; }

/*==========================================================
  NAVIGATION
==========================================================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #2097D1; }
  .navbar .links {
    margin-left: 40px; }
    .navbar .links .linkReg {
      text-decoration: none;
      color: black;
      margin-right: 20px;
      color: white;
      font-weight: 230;
      font-size: 15px; }
  .navbar .icons {
    display: flex;
    margin-right: 40px; }
    .navbar .icons .icon {
      margin-left: 20px; }

/*==========================================================
  HOME
 =========================================================*/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin: 0;
  background-color: #2097D1;
  text-align: center;
  color: white; }
  #home h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 15px; }
  #home h2 {
    font-size: 18px;
    font-weight: 150;
    letter-spacing: 1px; }

.home-projects-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2097D1; }
  .home-projects-button .linkReg {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 1px; }
  .home-projects-button .icon {
    margin-bottom: 35px; }

/*==========================================================
  PROJECTS
 =========================================================*/
#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 260px;
  border: 0.02px solid lightgrey;
  box-sizing: border-box;
  cursor: pointer; }

.projects-about-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .projects-about-button .linkReg {
    text-decoration: none;
    color: #2097D1;
    margin-bottom: 5px;
    margin-top: 15px;
    letter-spacing: 1px; }
  .projects-about-button .icon {
    margin-bottom: 35px; }

/*==========================================================
  ABOUT
 =========================================================*/
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px; }
  #about .left-content {
    margin-left: 40px;
    margin-right: 10px;
    width: 50%; }
    #about .left-content .image-wrap {
      width: 150px; }
    #about .left-content .image {
      width: 100%;
      border-radius: 50%;
      float: left;
      margin-right: 10px; }
    #about .left-content p {
      margin-top: 10px;
      color: #222222; }
  #about .right-content {
    margin-right: 40px;
    margin-left: 10px;
    width: 50%; }
    #about .right-content h2 {
      margin-bottom: 10px;
      color: #222222;
      font-size: 18px;
      font-weight: 600; }
    #about .right-content .list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      color: #2097D1;
      font-weight: 500; }
    #about .right-content .item {
      margin-right: 10px; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }
