@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900');

/*==========================================================
  BODY 
=========================================================*/

body{
  margin: 0;
}

html,body {
  overflow-x: hidden; 
}

/*==========================================================
  HOME
 =========================================================*/
 #home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
   background-color: lightblue;
   text-align: center;
 }

 /*==========================================================
  ABOUT
 =========================================================*/
 #about {
   display: flex;
   justify-content: center;
   height: 700px;
   background-color: yellow;
 }

 /*==========================================================
  PORTFOLIO
 =========================================================*/
 #portfolio {
   display: flex;
   justify-content: center;
   height: 700px;
   background-color: orange;
 }

 /*==========================================================
  CONTACT
 =========================================================*/
 #contact {
   display: flex;
   justify-content: center;
   height: 400px;
   background-color: gray;
 }