@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900');

/*==========================================================
  BODY 
=========================================================*/

body{
  margin: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif;
}

html,body {
  overflow-x: hidden; 
}

/*==========================================================
  NAVIGATION
==========================================================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #2097D1;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  .links {
    margin-left: 40px;

    .linkReg {
      text-decoration: none;
      color: black;
      margin-right: 20px;
      color: white;
      font-weight: 230;
      font-size: 15px;
      padding-bottom: 5px;
    }
  }
  .icons {
    display: flex;
    margin-right: 40px;

    .icon {
      margin-left: 20px;
    }
  }
}

/*==========================================================
  HOME
 =========================================================*/
 #home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: #2097D1;
   text-align: center;
   color: white;

   h1 {
     font-size: 28px;
     font-weight: 300;
     margin-bottom: 15px;
   }
   h2 {
     font-size: 18px;
     font-weight: 150;
     letter-spacing: 1px;
   }
   
 }

 .home-projects-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2097D1;
    margin-top: 60px;

    .linkReg {
      text-decoration: none;
      color: white;
      letter-spacing: 1px;
      background: rgba(34, 34, 34, 0.4); 
      padding: 15px 30px 15px 30px;
      border-radius: 2px;
      cursor: pointer;
    }
    .linkReg:hover {
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
 }

//  /*==========================================================
//   PROJECTS
//  =========================================================*/
//  #projects {
//    display: flex;
//    justify-content: center;
//    flex-wrap: wrap;
//    padding-top: 70px;   

//    .project-card {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     width: 50%;
//     height: calc(50vh - 35px);
//     border: 0.02px solid lightgrey;
//     box-sizing: border-box;
//     cursor: pointer;
//     transition: transform .2s; /* Animation */
   
    
//    .logo {
//      display: flex;
//      align-items: center;
//      height: 80%;
  
//     }
 
//    .technologies {
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      width: 100%;
//      align-self: flex-end;
//      height: 20%;
 
//      .item {
//        color: white;
//        font-weight: 200;
//        margin-right: 10px;
//      }
//     }

//     .description {
//       width: 80%;
//       height: 80%;
//       display: flex;
//       flex-direction: column;

//       .title-wrap {
//         display: flex; 
//         justify-content: space-between; 
//         align-items: center;

//         h1 {
//           font-weight: 700;
//           color: #222222;
//           font-size: 22px;
//           opacity: 0.8;

//         }
//       }

//       .about-project {
//         margin-top: 20px;

//         h2 {
//           font-size: 16px;
//           font-weight: 600;
//           letter-spacing: 1px;
//           color: #222222;
//           opacity: 0.8;
//           line-height: 20px;
//         }

//         p {
//           margin-top: 10px;
//           font-weight: 200;
//           letter-spacing: 1px;
//           line-height: 20px;
//         }

//         .project-links {
//           margin-top: 10px;
//         }
//       }
//     }
//   }
//   .project-card:hover {
//      transform: scale(1.004);
//   }
  
//  }



 /*==========================================================
  ABOUT
 =========================================================*/
 #about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 140px;

  .top-content {
    margin-bottom: 40px;
    
    width: 50%;

    .image-wrap {
      width: 180px;
    }
    .image {
      width: 100%;
      border-radius: 50%;
      float: left;
      margin-right: 10px;
    }
    p {
      margin-top: 10px;
      color: #222222;
      line-height: 20px;
      font-size: 14px;
      font-weight: 300;
    }
  }

  .bottom-content {
    width: 50%;
  
      h2 {
        margin-bottom: 10px;
        color: #222222;
        font-size: 18px;
        font-weight: 600;
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        color: #2097D1;
        font-weight: 500;
        font-size: 14px
      }

      .item {
        margin-right: 10px;
        margin-bottom: 5px;
      }
  }
 }

 /*==========================================================
  FORM
 =========================================================*/
 .form {
   display: flex;
   justify-items: center;
   flex-direction: column;
   width: 50%;
   margin: 0 auto;
   font-size: 18px;
   margin-top: 140px;

   .success-or-failure-message {
     display: flex;
     align-items: center;
     margin-bottom: 15px;

     p {
       font-size: 14px;
     }
   }

   h1 {
     color: #222222;
     margin-bottom: 10px;
     font-weight: 500;
   }

   input {
     width: 100%;
     height: 20px;
     border: 1px solid lightgray;
     margin-bottom: 10px;
     outline: none;
     font-size: 14px;
   }
   textarea {
     height: 150px;
     border: 1px solid lightgray;
     outline: none;
     font-size: 14px;
   }
   .btn-submit {
     width: 100px;
     height: 30px;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 2px;
     background-color: #2097D1;
     color: white;
     font-size: 14px;
     cursor: pointer;
   }
   .btn-submit:hover {
      box-shadow: 0 0 10px rgba(0,0,0,.2);
   }
 }

/*==========================================================
  PROJECTS
 =========================================================*/
.content {
   display: flex;
   flex-direction: column;
   align-items: center;

   .project-description {
     width: 50%;

     h1 {
       font-size: 24px;
       font-weight: 400;
       margin-bottom: 5px;
       margin-right: 10px;
     }
     div {
       font-weight: 200;
       margin-bottom: 10px;
       line-height: 22px;
     }

     .tech {
       line-height: 19px;
       margin-bottom: 25px;

      h2 {
        font-weight: 350;
        font-size: 16px;
      }

      p {
        font-size: 15px;
        margin-bottom: 10px;
      }
      
     }
   }

   .video-wrap {
      width: 50%;
      border: 0.9px solid #ada8a8;
      margin-bottom: 40px;

      video {
        width: 100%;
      }
  }
}

